.Form {
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif; /* police du texte */
    font-weight: bold; /* gère le gras du texte */
    /* font-style: oblique; /* permet de mettre le texte en italique de 2 façon différentes */
    /* text-decoration: underline; /* permet de rajouter une ligne en dessous, sur ou au dessus du texte*/
    text-align: center; /* permet de choisir l'alignement du texte horizontalement (vertical-align pour la version vertical*/
    background-image: url("C:/Users/Afpa01/Desktop/Cours/Formulaire/Image/VelKoz.png"); /* permet de rajouter une image dans le background */
    background-size: cover; /* Permet de resize l'image, cover, repeat ou autre*/
    background-color: #f4f4f4; /* permet de mettre une couleur à son background */
    margin: 0;
    padding: 20px;
}
.gradient-inscription{
    text-align: center;
    font-size: 70px;
    background-image: radial-gradient(circle, rgba(255,255,255,1) 13%, rgba(255,126,239,1) 61%);
    -webkit-background-clip: text;
    color: transparent;
}
.container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    color: rgb(1, 178, 248); /* choix de la couleur du texte */

}
.labelForm {
    margin-top: 10px;
    display: block;
}

.inputForm {
    width: 95%;
    padding: 8px;
    margin: 10px 0 15px;
    text-align: center;
    border: 1px solid #eb17bd;
    border-radius: 4px;
    box-shadow: 0px 0px 10px 5px #d30ea2;
    color: #fb2ab2;
    background: transparent;  
}
::placeholder{
    color:rgb(255, 255, 255);
}
#boutonform {
    width: 100%;
    padding: 10px;
    background: radial-gradient(circle, rgba(255,117,255,1) 15%, rgba(135,9,175,1) 85%);
    color: rgb(0, 0, 0);
    border: 6px double rgb(255, 0, 255);
    cursor: pointer;
    margin-bottom: 20px;
}
#oublimdp {
    color:rgb(0, 0, 0);
    width: auto;
    font-size: 10px;
    background-color: rgb(199, 12, 199);
    border: 6px double rgb(255, 0, 255);
}
table, caption, tr, td{
    border: 2px solid black;
    border-collapse: collapse;
    color: #fb2ab2;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}


.Profile{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("C:/Users/Afpa01/Desktop/Cours/Formulaire/Image/Diana.png") ;
    background-size: cover;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 0.5fr repeat(3, 1fr) 0.5fr;
}
.Bandeau1{
    text-align: center;
    font-size: 35px;
    margin-left: 250px;
    margin-right: 250px;
    background: rgb(47, 197, 202);
    border-color: rgba(255, 255, 255, 0.575);
    border-style: solid;
    border-width: 5px;
    color: rgb(255, 255, 255);
    background-image: url("C:/Users/Afpa01/Desktop/Cours/Formulaire/Image/profil.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 4%;
    grid-area: 1 / 1 / 2 / 7;
}
.Bandeau2{
    max-width: 400px;
    margin: auto;
    padding: 20px;
    color: white;
    border-width: 5px;
    border-color: black;
    border-style: double;
    background: linear-gradient(180deg, rgb(26, 144, 148) 0%, rgba(45,233,241,1) 46%, rgba(255,255,255,1) 100%);
    grid-area: 2 / 3 / 5 / 5;
}
.Titre2{
    text-align: center;
    font-size: 30px;
    font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif; 
}
.labelProfile{
    margin-top: 10px;
    display: block;
    color: black;
    font-weight: bold;
}
.inputProfile{
    width: 95%;
    padding: 8px;
    margin: 10px 0 15px;
    text-align: center;
    border: 3px inset black;
    background-color: rgb(189, 189, 189);
    font-weight: bold;
}
#buttonProfile{
    width: 35%;
    margin-left: 42px;
    background-color: azure;
}
#buttonProfile:hover{
    background-color: rgb(14, 139, 139);
}
.Bandeau3{
    grid-area: 2 / 6 / 5 / 7;
    background-color: bisque;
    text-align: left;
    font-size: 20px;
    line-height: 50px;
    border: 5px inset aquamarine;
}